form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

form label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}

form input {
  padding-left: 20px;
  height: 40px;
  width: 515px;
  font-size: 18px;
}

.form__footer {
  text-align: left;
  margin-top: 50px;
  padding-top: 20px;
  color: #626262;
  position: relative;
}
.form__footer::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 2px;
  opacity: 0.5;
  background-color: #626262;
  top: 0px;
}

.test {
  position: relative;
  display: flex;
  justify-content: space-between;
}

@keyframes line {
  from {
    width: 300px;
    opacity: 0;
    top: 300px;
    left: 600px;
  }
  to {
    width: auto;
    opacity: 1;
    top: 140px;
    left: 700px;
  }
}

.warning {
  font-size: 16px;
  color: #f15524;
  padding-left: 20px;
  margin-top: 5px;
}
.hidden {
  display: none;
}

.content {
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.yellow__line {
  position: absolute;
  top: 250px;
  right: 300px;
}

.first__logo {
  margin-right: 100px;
  position: relative;
  z-index: 1000;
}

/* .chevron__button {
  border-style: none;
  background-color: #eaeaea;
  margin-top: 150px !important;
} */
/* .first__button {
  background-color: red;
  margin-top: 150px;
} */

.first__button {
  margin-top: 190px !important;
}

.first__content {
  overflow: hidden;
  padding-top: 50px;
}
