header {
  /* position: sticky; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  top: 50px;
  animation: animation 1s forwards;
}
header p {
  font-size: 25px;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
